.row{
    margin-left: 20px;
    color: #fff;

}
.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;    /* Hide scrollbar for   Firefox */
}
.posters::-webkit-scrollbar{
    display: none;
/* Hide scrollbar for Chrome, Safari and Opera */
}
.poster{
    max-height: 175px;
    margin-right: 10px;
}
.smallPoster{
    max-height: 100px;
    margin-right: 10px;
}
.poster:hover{
    transform:scale(1.1);
}